.cart__page {
  flex: 1 1 auto;
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;

  .cart {
    width: 70%;

    &__label {
      font-size: 1.8rem;
    }

    &__title {
      height: 4.5rem;
    }

    &__item {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
      border-bottom: 1px solid $color-light-xl;
      padding: 1rem 0;

      &-number {
        font-size: 2rem;
        width: 10%;
        color: $color-dark;
        text-align: center;
      }

      &-img {
        flex: 0 0 100px;

        .img {
          width: 100%;
          display: block;
        }
      }
    }

    &__details {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;

      &-name {
        font-size: 2rem;
        text-transform: uppercase;
      }

      &-other {
        display: flex;
        gap: 2rem;
      }

      span {
        font-weight: bold;
      }
    }

    &__controls {
      margin-left: auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      align-self: stretch;

      &-count {
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-info {
        display: inline-flex;
        font-size: 1.8rem;
        align-items: center;
        border: 1px solid $color-dark;
        align-self: end;
        text-align: center;

        button {
          background: none;
          width: 2rem;
          border: none;
          text-align: center;
          cursor: pointer;

          &:hover {
            background: $color-dark;
            color: $color-light-2xl;
          }
        }
      }
    }

    &__title {
      &-label {
        margin-right: auto;
      }

      &-count-input {
        outline: none;
        border: 1px solid $color-light-xl;
        text-align: center;
        width: 3rem;
      }

      &-navigation {
        display: flex;
        align-items: center;

        &-btn {
          background: none;
          cursor: pointer;
          border: 1px solid $color-light-xl;
          width: 3rem;

          &.back {
            margin-left: 1rem;
          }
        }

        &-page {
          width: 3rem;
          text-align: center;
        }
      }
    }

    &__summary {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 2rem;

      &-title {
        padding: 1rem 0;
        background-color: $color-light-xl;
        height: 4.5rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }

      &-discount-example {
        color: $color-light-m;
        font-size: 1.6rem;
        text-align: center;
      }

      &-total {
        font-weight: bold;

        &-update {
          font-size: 2.2rem;
          margin-bottom: 2rem;
        }
      }

      &-discount-input {
        outline: none;
        width: 100%;
        height: 3rem;
        border: 1px solid $color-light-xl;
        border-radius: 0.2rem;
        padding: 0.2rem 0.5rem;

        &::placeholder {
          font-size: 1.6rem;
          color: $color-light-m;
        }

        &:focus {
          border: 1px solid $color-light-m;
        }
      }

      &__discount {

        &-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }

      &-btn-buy {
        @extend %button;
        margin-top: 2rem;
        width: 100%;
      }
    }
    &__purchase-message{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - 18rem);
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .hide {
    visibility: hidden;
  }

  .cancelled {
    font-weight: normal;
    text-decoration: line-through;
  }

}

.open-item-details-page {
  cursor: pointer;
}

.discount {
  &-current {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;

    &-btn {
      @extend %button;
      width: 5rem;
      height: 2.5rem;
      margin: 0;
    }
  }
}

.promo {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
  }

  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 5rem;

    &>button {
      @extend %button;
      width: 5rem;
      height: 2.5rem;
      margin-right: 0;
    }
  }
}