* {
  box-sizing: border-box
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: $color-light-2xl;
  font-family: "NewParisSkyline";
  color: $color-dark;
}

.wrapper {
  position: relative;
  padding: 0px 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  padding-top: 2rem;
  min-height: 100vh;
}

@media (max-width: 1300px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }

  .wrapper {
    padding: 0px 2rem;
  }

}