@font-face {
  font-family: "NewParisHeadline";
  src: url(./assets/fonts/NewParisHeadline-Medium.woff2);
}

@font-face {
  font-family: "NewParisSkyline";
  src: url(./assets/fonts/NewParisSkyline-Regular.woff2);
}